<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8" />
    <title>
        标题
    </title>
</head>
<body>
<strong>标题</strong>
<form action="list.html" method="post">
    <input type="hidden" name="pageNumber" />
    用户名：<input type="text" name="username" />
    <br/>
    姓名：<input type="text" name="name" />
    <br/>
    <button type="submit">提交</button> <button type="reset">重置</button>
</form>
<table>
    <thead>

    </thead>
    <tbody>
    </tbody>

    <tr th:each="user:${students}">

        <td th:text="${user.name}"></td>
        <td th:text="${user.age}"></td>
        <td th:text="${user.telephoneNumber}"></td>
        <td th:text="${user.address}"></td>

    </tr>
</table>
</body>
</html>
